<div class="user-main-wrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="user-profile">
          <% if @user == current_user %>
            <%= link_to "#", class: "link-edit-user-information no-outline", data: { toggle: 'modal', target: '#editUserInformationModal' } do %>
              <i class="fa fa-pencil" aria-hidden="true"></i>
            <% end %>
          <% end %>
          <div class="user-avatar">
            <% if @user == current_user %>
              <a href="#" id="userAvatarBox" data-toggle="modal" data-target="#editUserAvatarModal" class="edit-user-avatar no-outline">
                <%= avatar_for @user %>
              </a>
            <% else %>
              <%= avatar_for @user %>
            <% end %>
          </div>
          <div class="user-information">
            <ul class="user-information-list list-unstyled">
              <% if @user.username? %>
                <li class="username"><%= link_to "@#{@user.username}", user_path( @user.username ), class: "user-name-link" %></li>
              <% end %>
              <li class="name-or-email"><%= @user.name? ? @user.name : @user.email %></li>
              <% if @user.gender? %>
                <li class="gender-icon">
                  <% if @user.gender == "male" %>
                    <i class="fa fa-mars" aria-hidden="true"></i>
                  <% elsif @user.gender == "female" %>
                    <i class="fa fa-venus" aria-hidden="true"></i>
                  <% end %>
                </li>
              <% end %>
              <% if @user.dob? %>
                <li class="infor-line text-center"><b><%= @user.dob.strftime("%Y %B %d") %> - <%= get_age @user.dob %> years old </b></li>
              <% end %>
              <% if @user.address_commune? || @user.address_district? || @user.address_province? %>
                <li class="infor-line">
                  <div class="table-panel">
                    <div class="table-child ver-mid infor-label">
                      Address:
                    </div>
                    <div class="table-child ver-mid">
                      <%#= @user.address_commune %>
                    </div>
                  </div>
                </li>
              <% end %>
              <% if @user.job? %>
                <li class="infor-line">
                  <div class="table-panel">
                    <div class="table-child ver-mid infor-label">
                      Job:
                    </div>
                    <div class="table-child ver-mid">
                      <%= @user.job %>
                    </div>
                  </div>
                </li>
              <% end %>
              <% if @user.hobby? %>
                <li class="infor-line">
                  <div class="table-panel">
                    <div class="table-child ver-mid infor-label">
                      Hobby:
                    </div>
                    <div class="table-child ver-mid">
                      <%= @user.hobby %>
                    </div>
                  </div>
                </li>
              <% end %>
              <% if @user.dislike? %>
                <li class="infor-line">
                  <div class="table-panel">
                    <div class="table-child ver-mid infor-label">
                      Dislike:
                    </div>
                    <div class="table-child ver-mid">
                      <%= @user.dislike %>
                    </div>
                  </div>
                </li>
              <% end %>
              <% if @user.high_school? %>
                <li class="infor-line">
                  <div class="table-panel">
                    <div class="table-child ver-mid infor-label">
                      High school:
                    </div>
                    <div class="table-child ver-mid">
                      <%= @user.high_school %>
                    </div>
                  </div>
                </li>
              <% end %>
              <% if @user.univesity? %>
                <li class="infor-line infor-last-child">
                  <div class="table-panel">
                    <div class="table-child ver-mid infor-label">
                      University:
                    </div>
                    <div class="table-child ver-mid">
                      <%= @user.univesity %>
                    </div>
                  </div>
                </li>
              <% end %>
              <li>
                <div class="verify-user-block">
                  <% if @user.is_verified? %>
                    <button type="button" class="no-outline verify-user is-verified" > 
                      Verified user <i class="fa fa-check-circle" aria-hidden="true"></i>
                    </button>
                  <% else %>
                    <button type="button" class="no-outline verify-user is-pending" >
                      Pending verify <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    </button>
                  <% end %>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="user-content-box">
          
        </div>
      </div>
    </div>
  </div>
</div>

<% if @user == current_user %>
  <div class="modal fade" id="editUserAvatarModal" tabindex="-1" role="dialog" aria-labelledby="editUserAvatarLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editUserAvatarLabel">Upload Avatar</h5>
          <button type="button" class="close cursor-pointer no-outline" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= form_for(@user, url: upload_avatar_path(@user), :remote => true, authenticity_token: true, html: {:multipart => true }) do |f| %>
          <div class="modal-body">
            <div class="text-center">
              <label id="user_avatar_label" class="cursor-pointer no-outline">
                <div id="preview_image"></div>
                <img src="<%= asset_url 'add-icon.png' %>" class="js--add-image add-image-default" >
                <%= f.file_field :avatar %>
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-lg no-outline cursor-pointer" data-dismiss="modal">Cancel</button>
            <button type="submit" id="formUploadButton" class="btn btn-lg btn-primary no-outline cursor-pointer">
              Upload 
              <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editUserInformationModal" tabindex="-1" role="dialog" aria-labelledby="editUserInformationLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editUserInformationLabel">Edit User Information</h5>
          <button type="button" class="close cursor-pointer no-outline" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= form_for(@user, url: upload_avatar_path(@user), :remote => true, authenticity_token: true, html: {:multipart => true }) do |f| %>
          <div class="modal-body">
            <div class="text-center">
              <label id="user_avatar_label" class="cursor-pointer no-outline">
                <div id="preview_image"></div>
                <img src="<%= asset_url 'add-icon.png' %>" class="js--add-image add-image-default" >
                <%= f.file_field :avatar %>
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-lg no-outline cursor-pointer" data-dismiss="modal">Cancel</button>
            <button type="submit" id="formUploadButton" class="btn btn-lg btn-primary no-outline cursor-pointer">
              Upload 
              <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('#formUploadButton').click(function(event) {
    $('#editUserAvatarModal').modal('hide');
    $('.over-loader').show();
    $('body').addClass('over-flow-open');
  });

  $("#user_avatar").on('change', function () {
    if (typeof (FileReader) != "undefined") {
      var image_holder = $("#preview_image");
      image_holder.empty();
      $('.js--add-image').hide();

      var reader = new FileReader();
      reader.onload = function (e) {
          $("<img />", {
              "src": e.target.result,
              "class": "js--add-image"
          }).appendTo(image_holder);

      }
      image_holder.show();
      reader.readAsDataURL($(this)[0].files[0]);
    } else {
        console.log("This browser does not support FileReader.");
    }
  });

</script>
